@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html {
    font-family: 'Poppins';
}

form #equals {
	width: 145px;
	height: 60px;
}

@font-face {
    font-family: 'Digital-7';
    src: url('./fonts/digital-7.ttf') format('truetype'),
         url('./fonts/digital-7 (mono).ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }

